 <footer id="contacto">
        <div class="contenedor_foot footer-content-general">
            <div class="datos_footer_general">
                <p> Jakeline del Rocío Sáenz Mogollón</p>
                <p>
                    <a href="mailto:chiosaenz10@gmail.com" class="enlacefooter">
                        <i class="fa fa-envelope-o"></i>  chiosaenz10@gmail.com"
                    </a>
                </p>
                <p>
                    <i class="fa fa-whatsapp"></i> 5835 - 4845
                </p>
                
            </div> 
            <h2 class="brand-versiculo-Footer">¡Todo lo puedo en Cristo que me fortalece!</h2>        
        </div>
        <div class="line-footer"></div>
        <div class="copyright">
            <p>&copy; <a href="index.html" class="enlacefootercopy">Jakeline del Rocío Sáenz Mogollón</a></p>
        </div>
    </footer>