<header class="header" id="inicio">
    <img src="../img/hamburguesa.svg" alt="" class="hamburguesa">

    <div id="ContenedorLogo">
        <div class="contenedor logo-content">
            <div class="logo-espacio">
                <a href="" class="logo-icon">
                    <img id="logoHome" src="../img/Logo.jpg" alt="Logo del porfalio">
                </a>
            </div>
            <div class="logo-nombre">
                <h3 class="brand-nombre">Jakeline del Rocío Sáenz Mogollón</h3>
            </div>
        </div>
        <div class="line-logo"></div>
    </div>

    <nav class="menu-navegacion">
        <a href="/index">Inicio</a>
        <a href="/formacion">Formación Académica</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/certificaciones">Certificaciones</a>
        <a href="/habilidades">Habilidades</a>
    </nav>

</header>