<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Iconos-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Normalize y estilo-->
     <!--<link rel="stylesheet" href="CSS/normalize.css">-->
    <link rel="stylesheet" href="../assets/css/estiloPrueba.css">
    
    <title>Portafolio | Certificaciones</title>

</head>
<body>
    
    <!--HEADER-->
    {{> header}}

    <!--PORTADA-->
    {{> portada}}

    <main>
        <!--Sección del título y descripción-->
        <section class="descripcion">
            <h2 class="Titulos_h2">
                Certificaciones
            </h2> 
            <p>
                Dentro de mi formación profesional he logrado estudiar algunos cursos espécificos, esto para obtener 
                conocimientos de los temas que me llaman más la atención en la carrera de Ingeniería. 
            </p>
        </section>
        
        <div class=contenedor_General>

            <!--PRIMER BLOQUE-->
            <div class="bloque_div_certificado">
                <img class="logo_certificado_img" src="../img/Certificaciones/Codi.jpg" alt="CódigoFacilito" align="left"> 
                <p class="detalle_p_certificado"> 
                    <br> Curso de introducción a la programación<br>
                    <br>CódigoFacilito <br>
                    <br> Expedición: Marzo de 2020 <br>
                    <br> ID de la credencial:a12bf249-d032-48cf-b7b7-f0c8ed2a4da2 <br>
                </p>
            </div>

            <!--SEGUNDO BLOQUE-->
            <div class="bloque_div_certificado">
                <img class="logo_certificado_img" src="../img/Certificaciones/Codi.jpg" alt="CódigoFacilito" align="left">
                <p class="detalle_p_certificado">
                    <br>Curso Profesional de Base de Datos<br>
                    <br>CódigoFacilito <br>
                    <br> Expedición: Enero de 2021 <br>
                    <br> ID de la credencial:  3a83de8c-6286-4aa6-b11e-231398b616e1 <br>
                </p>
            </div>
            
            <!--TERCER BLOQUE-->
            <div class="bloque_div_certificado">
                <img class="logo_certificado_img" src="../img/Certificaciones/Google.JPG" alt="Google Actívate" align="left">
                <p class="detalle_p_certificado">
                    <br>Curso de introducción al desarrollo Web I: HTML<br>
                    <br>Google Actívate <br>
                    <br>  Expedición: Julio de 2021 <br>
                    <br> ID del certificado: PKF Q5M CCR <br>
                    <br> Verificar Certificado: https://learndigital.withgoogle.com/activate/validate-certificate-code <br>
                </p>
            </div>

            <!--CUARTO BLOQUE-->
            <div class="bloque_div_certificado">
                <img class="logo_certificado_img" src="../img/Certificaciones/Google.JPG" alt="Google Actívate" align="left">
                <p class="detalle_p_certificado">
                    <br>Curso de Introducción al desarrollo Web II: CSS<br>
                    <br>Google Actívate <br>
                    <br> Expedición: Agosto 2021 <br>
                    <br> ID del Certificado: GQ9 P5Z YGV <br>
                    <br> Verificar Certificado: https://learndigital.withgoogle.com/activate/validate-certificate-code <br>
                </p>
            </div>

        </div>
    </main>


    <!--FOOTER-->
    {{> footer}}

    <script src="../assets/js/menu.js"></script> 
   
</body>
</html>