<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
    <!--Iconos-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Normalize y estilo-->
    <!--<link rel="stylesheet" href="CSS/normalize.css">-->
    <link rel="stylesheet" href="../assets/css/estiloPrueba.css">
   
    <title>Portafolio | Formación Académica</title>

</head>
<body>
    
    <!--HEADER-->
    {{> header}}

    <!--PORTADA-->
    {{> portada}}
    

  <!--Sección del título y descripción-->
    <section class="descripcion">
        <h2 class="Titulos_h2">
            Formación académica
        </h2> 
        <p>
            Dentro de mi formación académica puedo mencionar dos entidades que han formado parte de mi desarrollo 
            personal y profesional. Entre estas entidades puedo mencionar a la Escuela Normal privada del 
            Departamento de Sololá y a la Univerdad Mariano Gálvez de Guatemala.  
        </p>
    </section>


    <div class="contenedor_General">
        <!--PRIMER BLOQUE-->
        <div class="bloque_div_formacion">
            <img class="logo_formacion_img" src="../img/Formacion/ENPS.JPG" alt="Qué es el sistema Solar?"align="left"> 
            <p class="detalle_p_formacion"> 
                <br> 2015 - 2017 <br>
                <br> Magisterio de educación parvularia bilingue intercultura <br> 
                <br> Escuela Normal Privada <br>
                <br> Sololó Guatemala
            </p>
        </div>
        
        <!--SEGUNDO BLOQUE-->
        <div class="bloque_div_formacion">
            <img class="logo_formacion_img" src="../img/Formacion/UMG.JPG" alt="Logo Universidad Mariano Gálvez de Guatemala" align="left">         
            <p class="detalle_p_formacion">
                <br> 2019 - 2021 <br>
                <br> Cursos de inglés nivel avanzado <br>
                <br> Universidad Mariano Gálvez de Guatemala
            </p>
        </div>
        
        <!--TERCER BLOQUE-->
        <div class="bloque_div_formacion">
            <img Class="logo_formacion_img" src="../img/Formacion/UMG.JPG" alt="Logo Universidad Mariano Gálvez de Guatemala" align="left">
            <p class="detalle_p_formacion">
                <br> 2018 - Actualidad <br>
                <br> Ingeniería en sistemas <br>
                <br> Actualmente: 8vo semestre <br>
                <br> Universidad Mariano Gálvez de Guatemala
            </p>
        </div>
    </div>
    
    <!--FOOTER-->
    {{> footer}}


    <script src="../assets/js/menu.js"></script> 

</body>
</html>