<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Iconos-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Normalize y estilo-->
     <!--<link rel="stylesheet" href="CSS/normalize.css">-->
    <link rel="stylesheet" href="../assets/css/estiloPrueba.css">
    
    <title>Portafolio | Certificaciones</title>

</head>
<body>
    
    <header class="header" id="inicio">
        <img src="../img/hamburguesa.svg" alt="" class="hamburguesa">

        <div id="ContenedorLogo">
            <div class="contenedor logo-content">
                <div class="logo-espacio">
                    <a href="" class="logo-icon">
                        <img id="logoHome" src="../img/Logo.jpg" alt="Logo del porfalio">
                    </a>
                </div>
                <div class="logo-nombre">
                    <h3 class="brand-nombre">Jakeline del Rocío Sáenz Mogollón</h3>
                </div>
            </div>
            <div class="line-logo"></div>
        </div>

        <nav class="menu-navegacion">
            <a href="index.html">Inicio</a>
            <a href="formacion.html">Formación Académica</a>
            <a href="proyectos.html">Proyectos</a>
            <a href="certificaciones.html">Certificaciones</a>
            <a href="habilidades.html">Habilidades</a>
            <a href="#contacto">Contacto</a>
        </nav>

    </header>

    <!--PORTADA-->
    <div id="espacio-portada">
        <div id="portada">
            <section class="portada">
            <img id="portada" src="../img/foto1.JPG" alt="">
            </section>
        </div>
    </div>

    <main>
        <!--Sección del título y descripción-->
        <section class="descripcion">
            <h2 class="Titulos_h2">
                Certificaciones
            </h2> 
            <p>
                Dentro de mi formación profesional he logrado estudiar algunos cursos espécificos, esto para obtener 
                conocimientos de los temas que me llaman más la atención en la carrera de Ingeniería. 
            </p>
        </section>
        
        <div class=contenedor_General>

            <!--PRIMER BLOQUE-->
            <div class="bloque_div_certificado">
                <img class="logo_certificado_img" src="../img/Certificaciones/Codi.jpg" alt="CódigoFacilito" align="left"> 
                <p class="detalle_p_certificado"> 
                    <br> Curso de introducción a la programación<br>
                    <br>CódigoFacilito <br>
                    <br> Expedición: Marzo de 2020 <br>
                    <br> ID de la credencial:a12bf249-d032-48cf-b7b7-f0c8ed2a4da2 <br>
                </p>
            </div>

            <!--SEGUNDO BLOQUE-->
            <div class="bloque_div_certificado">
                <img class="logo_certificado_img" src="../img/Certificaciones/Codi.jpg" alt="CódigoFacilito" align="left">
                <p class="detalle_p_certificado">
                    <br>Curso Profesional de Base de Datos<br>
                    <br>CódigoFacilito <br>
                    <br> Expedición: Enero de 2021 <br>
                    <br> ID de la credencial:  3a83de8c-6286-4aa6-b11e-231398b616e1 <br>
                </p>
            </div>
            
            <!--TERCER BLOQUE-->
            <div class="bloque_div_certificado">
                <img class="logo_certificado_img" src="../img/Certificaciones/Google.JPG" alt="Google Actívate" align="left">
                <p class="detalle_p_certificado">
                    <br>Curso de introducción al desarrollo Web I: HTML<br>
                    <br>Google Actívate <br>
                    <br>  Expedición: Julio de 2021 <br>
                    <br> ID del certificado: PKF Q5M CCR <br>
                    <br> Verificar Certificado: https://learndigital.withgoogle.com/activate/validate-certificate-code <br>
                </p>
            </div>

            <!--CUARTO BLOQUE-->
            <div class="bloque_div_certificado">
                <img class="logo_certificado_img" src="../img/Certificaciones/Google.JPG" alt="Google Actívate" align="left">
                <p class="detalle_p_certificado">
                    <br>Curso de Introducción al desarrollo Web II: CSS<br>
                    <br>Google Actívate <br>
                    <br> Expedición: Agosto 2021 <br>
                    <br> ID del Certificado: GQ9 P5Z YGV <br>
                    <br> Verificar Certificado: https://learndigital.withgoogle.com/activate/validate-certificate-code <br>
                </p>
            </div>

        </div>
    </main>


    <!--FOOTER-->
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="datos-certificado">
                <p> Jakeline del Rocío Sáenz Mogollón</p>
                <p>
                    <a href="mailto:chiosaenz10@gmail.com" class="enlacefooter">
                        <i class="fa fa-envelope-o"></i>  chiosaenz10@gmail.com"
                    </a>
                </p>
                <p>
                    <i class="fa fa-whatsapp"></i> 5835 - 4845
                </p>
                
            </div> 
            <h2 class="brand-versiculo-General">¡Todo lo puedo en Cristo que me fortalece!</h2>        
        </div>
        <div class="line-footer"></div>
        <div class="copyright">
            <p>&copy; <a href="index.html" class="enlacefootercopy">Jakeline del Rocío Sáenz Mogollón</a></p>
        </div>
    </footer>

    <script src="../assets/js/menu.js"></script> 
   
</body>
</html>