<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <!--Iconos-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Normalize y estilo-->
    <!--<link rel="stylesheet" href="CSS/normalize.css">-->
    <link rel="stylesheet" href="../assets/css/estiloPrueba.css">
        
    <title>Portafolio | Habilidades</title>

</head>
<body>

    <header class="header" id="inicio">
        <img src="../img/hamburguesa.svg" alt="" class="hamburguesa">

        <div id="ContenedorLogo">
            <div class="contenedor logo-content">
                <div class="logo-espacio">
                    <a href="" class="logo-icon">
                        <img id="logoHome" src="../img/Logo.jpg" alt="Logo del porfalio">
                    </a>
                </div>
                <div class="logo-nombre">
                    <h3 class="brand-nombre">Jakeline del Rocío Sáenz Mogollón</h3>
                </div>
            </div>
            <div class="line-logo"></div>
        </div>

        <nav class="menu-navegacion">
            <a href="index.html">Inicio</a>
            <a href="formacion.html">Formación Académica</a>
            <a href="proyectos.html">Proyectos</a>
            <a href="certificaciones.html">Certificaciones</a>
            <a href="habilidades.html">Habilidades</a>
            <a href="#contacto">Contacto</a>
        </nav>

    </header>

    <!--PORTADA-->
    <div id="espacio-portada">
        <div id="portada">
            <section class="portada">
            <img id="portada" src="../img/foto1.JPG" alt="">
            </section>
        </div>
    </div>


    <!--Sección del título y descripción-->
    <section class="descripcion">
        <h2 class="Titulos_h2">
            Habilidades
        </h2> 
        <p>
            Mis habilidades las puedo dividir en 4 fases, las cuales forman parte de mi caracter y mi personalidad. 
        </p>
    </section>

    <div class="contenedor_General contenedor_habilidades">

        <!--PRIMER BLOUE-->
        <div class="bloque_habilidades">
            <h3>
                Habilidades Interpersonales
            </h3>
            <p>
                <ul class="detalle_p_habilidades">
                    <li>Resilencia</li>
                    <li>Responsabilidad</li>
                    <li>Motivación</li>
                    <li>Compromiso</li>
                </ul>
            </p>
        </div>

        <!--SEGUNDO BLOUE-->
        <div class="bloque_habilidades">
            <h3>
                Habilidades Sociales
            </h3>
            <p>
                <ul class="detalle_p_habilidades">
                    <li>Capacidad de Integración</li>
                    <li>Capacidad de comunicación</li>
                    <li>Capacidad de aceptar las críticas</li>
                </ul>
            </p>
        </div>

        <!--TERCER BLOUE-->
        <div class="bloque_habilidades">
            <h3>
                Habilidades Metódicos
            </h3 class="titulo_h3_habilidades">
            <p>
                <ul class="detalle_p_habilidades">
                    <li>Capacidad e Organización</li>
                    <li>Resistencia al estrés</li>
                    <li>Resolución de problemas</li>
                    <li>Habilidad numérica</li>
                </ul>
            </p>
        </div>

        <!--CUARTO BLOUE-->
        <div class="bloque_habilidades">
            <h3>
               Pasatiempos
            </h3>
            <p>
                <ul class="detalle_p_habilidades">
                    <li>Ejercicio: ciclismo, futbol, basketbol</li>
                    <li>Ejecutar instrumentos: guitarra, marimba, violín</li>
                    <li>Dibujar y pintar: Temperas, crayones, oleo, claroscuro</li>
                </ul>
            </p>
        </div>
    </div>




    <!--FOOTER-->
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="datos-habilidades">
                <p> Jakeline del Rocío Sáenz Mogollón</p>
                <p>
                    <a href="mailto:chiosaenz10@gmail.com" class="enlacefooter">
                        <i class="fa fa-envelope-o"></i>  chiosaenz10@gmail.com"
                    </a>
                </p>
                <p>
                    <i class="fa fa-whatsapp"></i> 5835 - 4845
                </p>
                
            </div> 
            <h2 class="brand-versiculo-General">¡Todo lo puedo en Cristo que me fortalece!</h2>        
        </div>
        <div class="line-footer"></div>
        <div class="copyright">
            <p>&copy; <a href="index.html" class="enlacefootercopy">Jakeline del Rocío Sáenz Mogollón</a></p>
        </div>
    </footer>

    <script src="../assets/js/menu.js"></script> 

</body>
</html>