<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Iconos-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--Normalize y estilo-->
   <!--<link rel="stylesheet" href="CSS/normalize.css">-->
    <link rel="stylesheet" href="../assets/css/estiloPrueba.css">
    
    

    <title>Portafolio | Proyectos</title>
</head>

<body>

    <header class="header" id="inicio">
        <img src="../img/hamburguesa.svg" alt="" class="hamburguesa">

        <div id="ContenedorLogo">
            <div class="contenedor logo-content">
                <div class="logo-espacio">
                    <a href="" class="logo-icon">
                        <img id="logoHome" src="../img/Logo.jpg" alt="Logo del porfalio">
                    </a>
                </div>
                <div class="logo-nombre">
                    <h3 class="brand-nombre">Jakeline del Rocío Sáenz Mogollón</h3>
                </div>
            </div>
            <div class="line-logo"></div>
        </div>

        <nav class="menu-navegacion">
            <a href="index.html">Inicio</a>
            <a href="formacion.html">Formación Académica</a>
            <a href="proyectos.html">Proyectos</a>
            <a href="certificaciones.html">Certificaciones</a>
            <a href="habilidades.html">Habilidades</a>
            <a href="#contacto">Contacto</a>
        </nav>

    </header>

    <!--PORTADA-->
    <div id="espacio-portada">
        <div id="portada">
            <section class="portada">
            <img id="portada" src="../img/foto1.JPG" alt="">
            </section>
        </div>
    </div>

    <div class="espacio_titulo_proyecto">
        <h2 class="Titulos_h2">Proyectos</h2> 
    </div>

    <div class="div_proyectos_Principal" id="proyectos">
        <!--Sección de formulario JS-->
        <section class="seccion_espacio_img" id="ProyectoDesarrollo">
            <div id="formacion">
                <a title="Validación de formulario" href="formulario.html">
                    <img class="imagenEleccion" src="../img/Proyectos/lenguaje1.jpg" width="300" height="300"/>
                </a>
            </div>
            <h3>Validación de forumulario</h3>
            <p>
                Sitio Web: Validación de formulario con HTML, CSS y JS.
            </p>
        </section>

        <!--Sección de proyectos-->
        <section class="eleccion" id="proyectosProgra">
            <div id="proyectos">
                <a title="Proyectos" href="proyectosProgra.html">
                    <img class="imagenEleccion" src="../img/Proyectos/lenguaje2.jpg" width="300" height="300"/>
                </a>
            </div>
            <h3>Proyectos</h3>
            <p>
                Proyectos con C#, C++, Java y Python.
            </p>
        </section>


        <section class="eleccion section_nodejs" id="proyectosProgra">
            <div id="proyectos">
                <a title="Proyectos" href="sistemaNodeJs.html">
                    <img class="imagenEleccion_node" src="../img/Proyectos/node.png" width="300" height="300"/>
                </a>
            </div>
            <h3>Sistema con NodeJs</h3>
            <p>
                Sistema para tablas de multiplicar.
            </p>
        </section> 
    </div>

    <!--FOOTER-->
    <footer id="contacto">
        <div class="contenedor_foot footer-content-general">
            <div class="datos_footer_general">
                <p> Jakeline del Rocío Sáenz Mogollón</p>
                <p>
                    <a href="mailto:chiosaenz10@gmail.com" class="enlacefooter">
                        <i class="fa fa-envelope-o"></i>  chiosaenz10@gmail.com"
                    </a>
                </p>
                <p>
                    <i class="fa fa-whatsapp"></i> 5835 - 4845
                </p>
                
            </div> 
            <h2 class="brand-versiculo-Footer">¡Todo lo puedo en Cristo que me fortalece!</h2>        
        </div>
        <div class="line-footer"></div>
        <div class="copyright">
            <p>&copy; <a href="index.html" class="enlacefootercopy">Jakeline del Rocío Sáenz Mogollón</a></p>
        </div>
    </footer>
    <script src="../assets/js/menu.js"></script> 

</body>
</html>


