*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

/*PARA EL ICONO DEL MENÚ*/
.hamburguesa{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #072238 0%, #14678d 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

/*PARA EL LOGO*/
#ContenedorLogo{
   /* background-color: rgb(34,61,138);*/
   background-image: linear-gradient(to top, #072238 0%, #14678d 100%);
    padding-bottom: 0.1px;
}

.logo-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 50px;
}

.logo-nombre{
    width: 88%;
    margin-top: 50px;
    color:#fff;
}

.brand-nombre{
    font-weight: 40;
    font-size: 20px;
}

.logo-espacio{
    width: 12%;
    display: flex;
    justify-content: flex-start;
}

.logo-icon{
    display: inline-block;
    margin-left: 10px;
    width: 45px;
    height: 45px;
}

img#logoHome{
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 0;
    border-radius: 50%;
}

.line-logo{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

/*PARA LA FOTO DE PORTADA*/
div#portada{
    padding: 10px;
    text-align: center; 
}

img#portada{
    width: 90%;
    height: 150%;
}

/*PARA EL FONDO DE LA PORTADA*/
div#espacio-portada{
    /*background-color: rgba(144, 183, 255, 0.998);*/
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

/*PARA EL TEXTO PRINCIPAL*/
#texto1{
    margin-left: 90px;
    margin-right: 75px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    line-height: 35px;
}

/*NOMBRE*/
div#nombre{
    color:black;
    margin: 0;
    margin-top: 60px;
    font-size: 2em;
    text-align: center;
}

/*PARA EL MAIN*/

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: rgb(34,61,138);
    margin-top: 50px;
    margin-bottom: 20px;
}

section.AcercaDeMi{
    background: #fff;
    margin-top: 60px;
    margin-bottom: 90px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(34,61,138);
    padding-top: 50px;
    margin-bottom: 40px;
    font-size: 30px;
}

section#formacion{
    width: 50%;
    padding: 5px;
    text-align: center;
    float: left;
}

section#proyectos{   
    margin-top: 7%;
    text-align: center;
    padding: 5px;
}

section#certificados{
    width: 50%;
    padding: 5px;
    text-align: center;
    float: left;
    margin-top: 22px;
}

section#habilidad{
    text-align: center;
    padding: 5px;
    margin-top: 22px;
}

div#lineaAcerca{
    padding: 3%;
    text-align: center;
}

/*FOOTERE*/

.contacto_footer{
    margin-top: 85px;
}

footer{
    /*background: rgb(34,61,138);*/
    background-image: linear-gradient(to top, #072238 0%, #14678d 100%);
    padding-bottom: 0.1px;
    text-align: center;
}

.footer-content-general{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

div.datos_footer_general{
    text-align: center;
    color: #fff;
    line-height: 25px;
    margin-bottom: 35px;
}

.brand-versiculo-Footer{
    
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
}

.line-footer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 8px;
}

.enlacefooter{
    color: #fff;
}

.copyright{
    width: 30%;
    margin-bottom: 8px;
    color:#fff;
}

a.enlacefootercopy{
    color: white;
    text-decoration: none;
}


/*=============================CERTIFICADO=========================================*/
.Titulos_h2{
    text-align: center;
    font-weight: 300;
    color: rgb(34,61,138);
    padding-top: 50px;
    margin-bottom: 40px;
    font-size: 50px;
}

section.descripcion{
    margin-top: 45px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    text-align: center;
    line-height: 35px;
}

.detalle_p_certificado{
    text-align: left;
    color:black;
    padding-left: 35px;
    padding-right: 15px;
    margin-bottom: 50px;
    margin-left: 30%;
    line-height: 12px;
}

.logo_certificado_img{
    margin-left: 150px;
    border-width: 3px;
    border-radius: 5%;
    border: 1px solid rgb(34,61,138);
    width: 13%;
    height: 13%;;
}

.bloque_div_certificado{ 
    padding: 15px;
    margin: 0;
}

.contenedor_General{
    margin-left: 80px;
}

div.datos-certificado{
    text-align: center;
    color: #fff;
    line-height: 25px;
    margin-bottom: 0.2px;
}

.brand-versiculo-General{
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    margin-bottom: 1px;
}

/*====================================FORMACIÓN========================================*/

.detalle_p_formacion{
    text-align: left;
    color:black;
    padding-left: 10%;
    padding-right: 15%;
    margin-bottom: 5%;
    margin-left: 30%;
    line-height: 90%;
}

.logo_formacion_img{
    margin-left: 20%;
    border-width: 3px;
    border-radius: 5%;
    border: 1px solid rgb(34,61,138);
    width: 13%;
    height: 13%;;
}

.bloque_div_formacion{ 
    padding: 5px;
    margin: 0;
}


div.datos-formacion{
    text-align: center;
    color: #fff;
    line-height: 25px;
    margin-bottom: 0.2px;
}


/*================================HABILIDADES==========================================*/
h3.titulo_h3_habilidades{
    text-align: left;
    margin-left: 15px;
}
.detalle_p_habilidades{
    list-style-type: none;
    padding-left: 1px;
}

.contenedor_habilidades{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin-top: 70px;
    flex-direction: column;
    margin-left: 500px;
}

.bloque_habilidades{ 
    text-align: left;
    color:black;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 50px;
    line-height: 25px;
}

div.datos-habilidades{
    text-align: center;
    color: #fff;
    line-height: 25px;
    margin-bottom: 0.2px;
}

/*=================================PROYECTOS SECCIÓN PROGRAMACIÓN===============================*/

.detalle_p_proyectos{
    text-align: left;
    color:black;
    padding-left: 10px;
    padding-right: 50px;
    margin-top: 18px;
    margin-bottom: 50px;
    line-height: 90%;
}

.img_proyecto_G{
    margin-left: 260px;
    margin-right: 80px;
    border-width: 3px;
    border-radius: 5%;
    border: 1px solid rgb(34,61,138);
    width: 25%;
    height: 20%;;
}

.bloque_Proyectos{ 
    padding: 15px;
    margin: 0;
}

div.datos-proyecto{
    text-align: center;
    color: #fff;
    line-height: 25px;
    margin-bottom: 0.2px;
}

section.section5{
    margin-bottom: 85px;
}

/*===========================PROYECTOS============================================*/
.div_proyectos_Principal{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: space-around;
    text-align: center;

}
.espacio_titulo_proyecto{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.imagenEleccion_node{
    width: 300px;
    height: 300px;
    padding: 50px;
    border-radius: 50%;
}

/*==============================SISTEMA NODEJS TABLAS DE MULTIPLICAR=====================*/
.p_texto_descripcion_proyecto{
    text-align: left;
}

.ul_lista_descripcion_proyecto{
    text-align: left;
    padding-left: 35px;
}

.link_repositorio_Git{
    padding: 10px;
    text-decoration: none;
    border: solid rgb(34,61,138);
    color: rgb(34,61,138);
}


/*===========================================ERROR=========================================*/
.error{
    border: solid rgb(214, 30, 6);
    padding: 40px ;
    background: rgb(214, 30, 6);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    
}

.errorcenter{
    margin-top: 80px;
    text-align: center;
    align-items: center;
}

.referenciaincioerror{
    color:black;
}

a{
    color: red;
}

/*boton para ir a mogonDB*/
.btn-mongoDB {
    background-image: linear-gradient(to top, #072238 0%, #14678d 100%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}